<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" version="3.0">
  <display-name>login</display-name>
  <welcome-file-list>
    <welcome-file>index.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <display-name>login</display-name>
    <servlet-name>LoginServlet</servlet-name>
    <servlet-class>org.hspcb.servlets.LoginServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>SROServlet</servlet-name>
    <servlet-class>org.hspcb.servlets.SROData</servlet-class>
  </servlet>
  <servlet>
    <display-name>forgotPassword</display-name>
    <servlet-name>forgotPassword</servlet-name>
    <servlet-class>org.hspcb.servlets.forgotPassword</servlet-class>
  </servlet>
  <servlet>
    <display-name>changePassword</display-name>
    <servlet-name>changePassword</servlet-name>
    <servlet-class>org.hspcb.servlets.changePassword</servlet-class>
  </servlet>
  <servlet>
    <display-name>addUser</display-name>
    <servlet-name>addUser</servlet-name>
    <servlet-class>org.hspcb.servlets.AddUser</servlet-class>
  </servlet>
  <servlet>
    <display-name>fetchData</display-name>
    <servlet-name>fetchData</servlet-name>
    <servlet-class>org.hspcb.servlets.FetchData</servlet-class>
  </servlet>
  
  <servlet-mapping>
    <servlet-name>LoginServlet</servlet-name>
    <url-pattern>/</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>SROServlet</servlet-name>
    <url-pattern>/SROData</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>forgotPassword</servlet-name>
    <url-pattern>/forgotPassword</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>changePassword</servlet-name>
    <url-pattern>/changePassword</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>addUser</servlet-name>
    <url-pattern>/addUser</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>fetchData</servlet-name>
    <url-pattern>/fetchData</url-pattern>
  </servlet-mapping>
</web-app>